<!DOCTYPE html>
<html>
<head>
  <title>Google Maps</title>
  <meta name="description" content="Simple Map">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABLDygQJGwH-f7BjQzlDnDJ7bcSJuMA_M&libraries=geometry,places"></script>
  <script src="https://rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.js"></script>
  <script src="/js/mapDirectives.js"></script>
  <script src="/js/mapController.js"></script>
  <link rel="stylesheet" href="/styles/map.css">
</head>

<body ng-app="mapApp" ng-controller="mapController">
  <div class="container">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-1">
            <img src="/images/GoogleMap_Icon.png" style="width:67%" />
          </div>
          <div style="margin-top:0.5%">
            <div class="col-xs-offset-2 col-xs-3" style="margin-left:21.3%">
              <input type="text" placeholder="Source" class="form-control" ng-model="source"
              places-auto-complete component-restrictions="{country : 'in'}"
              on-place-changed="PlaceChanged()"/>
            </div>
            <div class="col-xs-3">
              <input type="text" placeholder="Destination" class="form-control" ng-model="destination"
              places-auto-complete component-restrictions="{country : 'in'}"
              on-place-changed="PlaceChanged()"/>
            </div>
            <div class="col-xs-2" style="width:12%">
              <button class="btn btn-primary" ng-click="temp()">Search</button>
            </div>
          </div>
          <div class="col-xs-offset-4 col-xs-1" style="margin-top: 1%">
            <a style="cursor:pointer" ng-click="logOff()">Log Off</a>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div ng-class="source.length > 0 && destination.length > 0 ? 'col-xs-8' : 'col-xs-12'"
            style="height: 495px;">
            <ng-map center="current-position" default-style="false" zoom="15">
              <directions
              draggable="true"
              panel="directionsPanel"
              travel-mode="DRIVING"
              origin="{{source}}"
              destination="{{destination}}">
            </directions>
          </ng-map>
        </div>
        <div ng-show="source.length > 0 && destination.length > 0" class="col-xs-4" id="directionsPanel"
          style="height: 495px;overflow-y: scroll">
        </div>
      </div>
    </div>
    <div class="panel-footer text-right">
      <mark>Google Maps!</mark>
    </div>
  </div>
</div>
</body>
</html>
