<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="/js/loginController.js"></script>
</head>
<body ng-app="loginApp" ng-controller="loginController">
  <div class="row" style="margin-left: -3%">
    <div class="col-xs-offset-3 col-xs-4 text-center"><h2>Login</h2></div>
  </div>
  <form name="loginForm">
    <div class="form-group">
      <div class="row" style="margin-top: 1%">
        <div class="col-xs-offset-3 col-xs-1" style="margin-left:28%"><label for="username">Username</label></div>
        <div class="col-xs-2"><input type="text" class="form-control" ng-model="username" required></div>
      </div>
    </div>
    <div class="form-group">
      <div class="row" style="margin-top: 1%">
        <div class="col-xs-offset-3 col-xs-1"style="margin-left:28%"><label for="password">Password</label></div>
        <div class="col-xs-2"><input type="password" class="form-control" ng-model="password" required></div>
      </div>
    </div>
    <div class="row" style="margin-top: 1%">
      <div class="col-xs-offset-4 col-xs-1" style="margin-left:39%">
        <!-- ng-disabled="loginForm.$invalid" -->
        <button type="submit" ng-click="loginUser()"
        class="btn btn-primary btn-block">Sign In</button>
      </div>
    </div>
    <div class="row" style="margin-top: 1%">
      <div class="col-xs-offset-4 col-xs-3">
        <label style="color:red" ng-if="invalidUser">Invalid username or password. Please try again!!</label>
      </div>
    </div>
  </form>
</body>
</html>
